@(loginForm: Form[(String,String)])(implicit flash: Flash, token: play.filters.csrf.CSRF.Token)

@import helper._

@title = {
        	<h1>Sign in</h1> 
} 

@main(Some(title), nav = "Sign In", username = None) { 
	<div class="well">	
	@loginForm.globalError.map { error =>
		<div class="alert alert-dismissable alert-danger">
			<button type="button" class="close" data-dismiss="alert">×</button>
			@error.message
		</div>
	} 
	@flash.get("success").map { message =>
		<div class="alert alert-dismissable alert-success">
			<button type="button" class="close" data-dismiss="alert">×</button>
			@message
		</div>

	}
	@b3.inline.form(routes.Auth.authenticate) { implicit hfc => 
		@CSRF.formField
		@b3.text( loginForm("id"), 'placeHolder -> "Username (or Email)", '_error -> loginForm.hasErrors)
		<span id="gutter" style="margin: 5px;"></span>
		@b3.password( loginForm("password"), 'placeHolder -> "Password",  '_error -> loginForm.hasErrors)
		<span id="gutter" style="margin: 5px;"></span> 
		@b3.submit('class -> "btn btn-primary"){ <span class="glyphicon glyphicon-ok"></span> Sign in } 
		<span id="gutter" style="margin: 5px;"></span> 
		<a href="@routes.Signup.init">or register a new account...</a> 
		<p class="note" style="margin-top: 10px;">
			Forgot <a href="@routes.Signup.init">username</a> or <a href="@routes.Signup.init">password</a>?
		</p>
	</div>


	}
}(false)
          
