@(piece: models.Piece)(implicit username: String)

@title = {
  @** <div style="text-align: center">Editor</div> **@
  <span>Editor</span>
  <div style="float: right; margin-right: 20px;">
  <input type="submit" class="btn btn-xs btn-primary" value="Save">
  <span id="gutter" style="margin: 5px;"></span>
  <a href="@routes.Application.index" class="btn btn-xs btn-default">Back</a>
 </div>
}

@main(Some(title), nav = "/contribution/edit", username) { 

 	<div id="epiceditor">@piece.header.title</div> 
 	<script src="@routes.Assets.at("js/epiceditor.js")" type="text/javascript" charset="utf8"></script>
    
	<script>
    	var opts = {
    			  container: 'epiceditor',
    			  textarea: null,
    			  basePath: '../../assets/js/epiceditor', //context root is /piece
    			  clientSideStorage: true,
    			  localStorageName: 'epiceditor',
    			  useNativeFullscreen: false,
    			  parser: marked,
    			  file: {
    			    name: 'epiceditor',
    			    defaultContent: '',
    			    autoSave: 100
    			  },
    			  theme: {
    			    base: '/themes/base/epiceditor.css',
    			    preview: '/themes/preview/bartik.css',
    			    editor: '/themes/editor/epic-blue.css'
    			  },
    			  button: {
    			    preview: true,
    			    fullscreen: true,
    			    bar: "auto"
    			  },
    			  focusOnLoad: false,
    			  shortcut: {
    			    modifier: 18,
    			    fullscreen: 70,
    			    preview: 80
    			  },
    			  string: {
    			    togglePreview: 'Toggle Preview Mode',
    			    toggleEdit: 'Toggle Edit Mode',
    			    toggleFullscreen: 'Enter Fullscreen'
    			  },
    			  autogrow: true
    			}
    	var editor = new EpicEditor(opts).load();
    	editor.enterFullscreen();
	</script>
}(false, 100)