@(pieceForm: Form[models.PieceFormInfo], username: String)(implicit flash: Flash, token: play.filters.csrf.CSRF.Token)

@import helper._
@import helper.twitterBootstrap._

@title = {
	
	 @helper.form(action = routes.PieceKeeper.save(0), 'id -> "form-piece", 'class -> "form-inline") {
	 	 <div id="form-piece-container" class="form-info-header">
          @textarea(
              pieceForm("title"), 
              '_class -> "top form-group",
              '_label -> "Title",
              'placeHolder -> "A good title should be short, concise and captivating.",
              
              '_error -> pieceForm.error("title")
              
            )
            @textarea(
              pieceForm("shortSummary"), 
              '_class -> "top form-group",
              '_label -> "A short summary",
              'placeHolder -> "Describe your contribution in a short paragraph by summarazing and hightling key points.",
              '_error -> pieceForm.error("shortSummary")
            )
        <div class="accordion form-info-group" id="accordion-optional">
          <div class="accordion-group">
            <div id="optional-stuff" class="accordion-body">
          		<div class="accordion-inner">
		         @inputText(
		             pieceForm("titleCoverUrl"), 
		             '_class -> "form-info-group",
		             '_label -> "Title Cover URL",
		             'placeHolder -> "Provide a link to an image which should be used instead of default title cover."
		           )
		     
		         @textarea(
		             pieceForm("tags"), 
		             '_class -> "form-info-group",
		             '_label -> "Tags",
		             'placeHolder -> "Comma delimited list of tags which should identify the content of your contribution."
		           )
			    </div>
	          </div>
	        </div>
	      </div>    
			<div id="form-info-header-controls" class="form-group">
			  <!--  
			   <button class="accordion-toggle btn btn-xs btn-default" data-toggle="collapse" data-parent="#accordion-optional" href="#optional-stuff">
                <span class="glyphicon glyphicon-chevron-down"></span>
               </button>
              -->
              <span id="gutter" style="margin: 5px;"></span>		   
		      <input type="submit" class="btn btn-xs btn-primary form-group" value="Save">
		      <span id="gutter" style="margin: 5px;"></span>
		      <input type="submit" class="btn btn-xs btn-danger form-group" action="@routes.PieceKeeper.draft" value="Post">
	      	</div>
	    </div>	 
	  
  }
	
}

@main(Some(title), nav = "/piece", username) { 
	
 	<div id="epiceditor">Epic Editor</div> 
 	<script src="@routes.Assets.at("js/epiceditor.js")" type="text/javascript" charset="utf8"></script>

	<script>
		var opts = {
			container : 'epiceditor',
			textarea : null,
			basePath : '../../assets/js/epiceditor', //context root is /piece
			clientSideStorage : true,
			localStorageName : 'epiceditor',
			useNativeFullscreen : false,
			parser : marked,
			file : {
				name : 'epiceditor',
				defaultContent : '',
				autoSave : 100
			},
			theme : {
				base : '/themes/base/epiceditor.css',
				preview : '/themes/preview/bartik.css',
				editor : '/themes/editor/epic-blue.css'
			},
			button : {
				preview : true,
				fullscreen : true,
				bar : "auto"
			},
			focusOnLoad : false,
			shortcut : {
				modifier : 18,
				fullscreen : 70,
				preview : 80
			},
			string : {
				togglePreview : 'Toggle Preview Mode',
				toggleEdit : 'Toggle Edit Mode',
				toggleFullscreen : 'Enter Fullscreen'
			},
			autogrow : true
		}
		var editor = new EpicEditor(opts).load();
		editor.enterFullscreen();
	</script>

}(false, 100)