@(username: String, pieces: List[PieceWithMetrics])(implicit flash: Flash, token: play.filters.csrf.CSRF.Token)

@import helper._
@import views.utils
@import _root_.utils.EnglishGrammar
@import b3.inline.fieldConstructor

@main(Some(Html("")), nav = "Manage Existing", Some(username)) {
	<script>
		$(document).ready(function() {
			fadeOutAlerts(2000); //2 sec
			$(function () {
				  $('[data-toggle="tooltip"]').tooltip()
				}) //init tooltips
		});
	</script>
	@flash.get("success").map { message =>
				<div class="alert alert-dismissable alert-success">
					<button type="button" class="close" data-dismiss="alert">×</button>
					@message
				</div>
	}
	<div class="panel panel-default">
  		<div class="panel-heading">
    		<div class="panel-title">You have @pieces.size @EnglishGrammar.oneOrMore(pieces.size, "post")
    		</div>
  		</div>
  		<div class="panel-body">
    		<table class="table table-striped table-hover">
		       <thead>
			         <tr>
			         	<th>Title</th>
			         	<th>Short Summary</th>
			         	<th>Tags</th>
			         	<th>Rating</th>
			         	<th>Views</th>
			         	@if(pieces.map(_.piece).exists(_.published.isDefined)){
			         		<th>Published</th>
			         	}
			         	<th colspan=3>Actions</th>
			         </tr>
		         </thead>
		         <tbody>
		         	@for(pwm <- pieces.sortBy(_.piece.header.title)) {
		         		@b3.form(routes.PieceKeeper.overviewAction(pwm.piece.id.get, pwm.piece.header.title)) {
			         		@CSRF.formField
							<tr>
		           				<td>
		           					@if(pwm.piece.published.isDefined){<span class="glyphicon glyphicon-pushpin published"></span>}
		           					<strong>@pwm.piece.header.title</strong>
		           				</td>
		           				@if(pwm.piece.header.shortSummary.length > 100){
		           					<td>@pwm.piece.header.shortSummary.substring(0, 100) ...</td>
		           				}else{
		           					<td>@pwm.piece.header.shortSummary</td>
		           				}
		           				<td>
		           				@if(pwm.piece.header.tags.size > 0){
									
										@for(t <- pwm.piece.header.tags){
											@if(t.size > 0){
												<span class="hashtag">@t</span>
											}
										}
									
								}
								</td>	           				
		           				<td>@utils.calculateRating(pwm.pieceMetrics)</td>
		           				<td>@pwm.pieceMetrics.views.size</td>
		         				@if(pwm.piece.published.isDefined){
		         					<td>
		         						@utils.long2date(pwm.piece.published.get)
	         						</td>
	         						<td>
					         			 <div class="form-group">
						         			 <button type="submit" class="btn btn-xxs btn-default" name="action" value="unpublish" data-toggle="tooltip" 
						         			 	data-placement="left" title="Take It Offline"> 
						         			 	<span class="glyphicon glyphicon-globe"></span> 
						         			 </button> 
					         			 </div>
	         						
		         				} else {
	         						<td></td>
				         			<td>
				         			<div class="form-group">
						         			 <button type="submit" class="btn btn-xxs btn-success" name="action" value="publish" data-toggle="tooltip" 
						         			 data-placement="left" title="Publish"> 
						         			 	<span class="glyphicon glyphicon-globe"></span> 
						         			 </button> 
					         		</div>
				         	}
			         				<div class="form-group">
						         			 <button type="submit" class="btn btn-xxs btn-primary" name="action" value="edit" data-toggle="tooltip" 
						         			 data-placement="left" title="Edit"> 
						         			 	<span class="glyphicon glyphicon-pencil"></span> 
						         			 </button> 
					         		</div>
					         		</td>
					         		<td>
						         		<div class="form-group">
								         	<span data-toggle="modal" data-target="#preview-@pwm.piece.id">
					         					<button type="button" class="btn btn-xxs btn-info" class="btn btn-xs btn-primary" data-toggle="tooltip" 
									         			 data-placement="left" title="Preview">
												  <span class="glyphicon glyphicon-eye-open"></span>
												</button>
											</span> 
						         		</div>
						         		<span data-toggle="modal" data-target="#confirmDelete-@pwm.piece.id">
				         					<button type="button" class="btn btn-xxs btn-danger" class="btn btn-xs btn-primary" data-toggle="tooltip" 
								         			 data-placement="left" title="Delete">
											  <span class="glyphicon glyphicon-trash"></span>
											</button>
										</span>
									</td>
							</tr>
							@modals.delete(pwm)
							@modals.preview(pwm, username)
						}
					}
		       </tbody>
			</table>
    		<a href="@routes.PieceKeeper.create">Create a new post...</a>
  		</div>
	</div>

}(false, 100)