@import models.{User,UserProfile}
@(signupForm: Form[(User, UserProfile)])(implicit token: play.filters.csrf.CSRF.Token)

@import helper._
@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-2", "col-md-4") }

@title = {
	<h1><small>Register a new account. It only takes a few seconds...</small></h1>
} 

@main(Some(title), nav = "Sign up!", username = None) {
    <div class="well">
    @b3.horizontal.form(routes.Signup.submit, "col-md-2", "col-md-4") { implicit hfc => 
    	@CSRF.formField
        <fieldset>
            <legend>Account information</legend>
            <div class="form-group">
            @b3.text(
                signupForm("username"), 
                '_label -> "Username", 
                '_error -> signupForm.globalError
                
            )
            </div>
            @b3.email(
                signupForm("email"), 
                '_label -> "Email",
                'placeholder -> "...@example.com",
                '_error -> signupForm.error("email")
            )
            
            @b3.password(
                signupForm("password.main"), 
                '_label -> "Password",
                '_help -> "Your password must be at least 8 characters long. "
            )
            
            @b3.password(
                signupForm("password.confirm"), 
                '_label -> "Repeat Password",
                '_error -> signupForm.error("password")
            )
        </fieldset>

  		
		<div class="accordion" id="accordion-optional">
		
		  <div class="accordion-group">
		    <div class="accordion-heading">
		      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-optional" href="#optional-stuff">
		        <span class="accordion-legend">Tell us more about you (optional)</span>
		        </a>
		    </div>
		    <div id="optional-stuff" class="accordion-body collapse">
		      <div class="accordion-inner">
		        
				  <fieldset>
		           @b3.text(
		                signupForm("user.firstName"), 
		                '_label -> "First Name"
		            )
		            
		            @b3.text(
		                signupForm("user.lastName"), 
		                '_label -> "Last Name"
		            )
		            
		            @b3.select(
		                signupForm("profile.country"), 
		                options = options(models.Countries.list),
		                '_default -> "--- What is your country? ---",
		                '_label -> "Country",
		                '_error -> signupForm("profile.country").error.map(_.withMessage("Please select your country"))
		            )
		            
		            @b3.text(
		                signupForm("profile.city"), 
		                '_label -> "City"
		            )
		            @b3.number(
		                signupForm("profile.age"), 
		                '_label -> "Age", 
		                'min -> 18,
		                'max -> 100,
		                'step -> 1,
		                'class -> "age"
		            )
		              
		        </fieldset>
        
		      </div>
		    </div>
		  </div>

		</div>
		
        <fieldset>
            
            @b3.checkbox(
                signupForm("accept"), 
                '_label -> None, '_text -> "You agree to the terms and conditions",
                '_showConstraints -> false
            )
            
        </fieldset>
        
      	@b3.submit('class -> "btn btn-primary"){ Submit } 
    }
	<div>    
}(false, 60)