/* The fixed navbar will overlay your other content, 
unless you add padding to the top of the <body>. 
Try out your own values or use our snippet below. 
Tip: By default, the navbar is 50px high.*/
body {
	padding-top: 15px;
}

/* Navbar --> mostly size control */
.navbar-brand {
	font-size: 25px;
}

.navbar-bilby {
	width: 50px;
	margin-right: 20px;
}

.navbar-bilby img {
	/* must match with navbar-header*/
	padding-top: 14px;
	height: 100%;
	width: 100%
}

/* piece edit controls*/
.top-controls {
	vertical-align: top;
	padding: 10px;
	margin-top: 50px;
	margin-bottom: 5px;
}

.top-controls .form-group {
	vertical-align: top;
	padding: 5px;
	display: inline-block;
}

.btn-group >.form-group {
	display: block;
}

.btn-xxs {
  padding: 2px 3px;
  font-size: 11px;
  line-height: 1.5;
  border-radius: 3px;
}

#mini-header.form-group {
	padding: 0px;
	margin-left: 10px;
	text-align: center;
}

input#title.form-control {
	margin-left: 5px;
	width: 350px;
}

textarea#shortSummary.form-control {
	margin-left: 5px;
	width: 350px;
}
/* 450 minus width of the glyphicon */
input#titleCoverUrl.form-control {
	width: 310px;
}

#tags_field>.bootstrap-tagsinput {
	width: 250px;
	border-radius: 0px;
}

.hashtag {
	background-color: #FFD893;
	color: #777777;
  	border-bottom-left-radius: 2.8125px;
  	border-bottom-right-radius: 2.8125px;
  	border-top-left-radius: 2.8125px;
  	border-top-right-radius: 2.8125px;
  	box-sizing: border-box;
  	cursor: text;
  	display: inline;
  	font-family: Georgia, 'Times New Roman', Times, serif;
  	font-size: 11.25px;
  	height: auto;
  	line-height: 11.25px;
  	margin-right: 4px;
  	padding-bottom: 3.375px;
  	padding-left: 6.75px;
  	padding-right: 6.75px;
  	padding-top: 2.25px;
  	text-align: center;
  	vertical-align: baseline;
  	white-space: nowrap;
  	width: auto;
}
.hashtag .heavy{
	font-weight: 600;
}

.published {
	margin-right: 15px;	
	color: #1A873A;
}

/* MAIN --> container resizing */
.container {
	width: 80%;
}

.container>footer p {
	text-align: center; /* center align it with the container */
}

.container-100 {
	/* save space --> needed by the editor */
	margin-top: 0px;
	width: 100%;
}

.container-80 {
	width: 80%;
}

.container-60 {
	width: 60%;
}

.container-40 {
	width: 40%;
}

.accordion-legend {
	display: block;
	width: 100%;
	padding: 0px;
	margin-bottom: 21px;
	font-size: 22.5px;
	line-height: inherit;
	color: #333;
}

/* Utils */

.age {
	width: 50px;
}

.bilby-frame {
	min-height: 350px;
}

.bilby-bg {
	background-image: url("../imgs/bilby-cropped.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.grows {
	transition: all .2s ease-in-out;
}

.grows:hover {
	transform: scale(1.35);
}

.modal-footer>.modal-controls {
	display: inline-block;
}

.gutter {
	padding-right: 15px;
}