@(signInform: Form[(String, String)])(implicit messages: Messages, request: RequestHeader)
@import b3.inline.fieldConstructor
@import controllers.routes
@import helper._

@title ={
	<h4>@Messages("signin.welcome")</h4> 
}

@main(Some(title), nav = Messages("navbar.top.signin"), user = None)  {
  @tags.alertFromRequest(request, "error")
  @b3.form(routes.Auth.authenticate) { 
   
   <div class="spacer-right form-group">
		@b3.email( signInform("email"), 
			'_hiddenLabel -> Messages("signin.field.email"), 
			'placeholder -> "example@mail.com", 
			'autofocus -> true )
		</div>
		<div class="spacer-right form-group">
	    @b3.password( signInform("password"), 
	    		'_hiddenLabel -> Messages("signin.field.password"),
	    		'placeholder -> Messages("signin.field.password") 
  		)
  		
		@if(request.flash.get("error").isDefined){
			@b3.static(){
				<a href="#">@Messages("signin.forgot.password.question")</a>
			}  	
		}  		
		</div>
		@b3.submit('class -> "btn btn-default"){ Sign in }
	}
	@b3.static(){ 
			<a href="@routes.Registration.startRegistration"> @Messages("signin.new.user.question") @Messages("signin.new.user")</a> 
	} 
 
	

}(messages, false, 100)