@(signInForm: Form[(String, String)])(implicit messages: Messages, request: RequestHeader)
@import b3.vertical.fieldConstructor
@import controllers.routes
@import helper._

@title ={
	<h4>@Messages("signin.welcome")</h4> 
}

@main(Some(title), nav = Messages("navbar.top.signin"), user = None)  {
  @tags.alertFromRequest(request, "error")
    @b3.form(routes.Auth.authenticate) {
    <div class="row">
      <div class="col-xs-6 col-md-2">
	    <fieldset>
	      @b3.text( signInForm("identifier"), '_hiddenLabel -> Messages("field.email"), 'placeholder -> "your@email.com", 'autofocus -> true )
		  @b3.password( signInForm("password"), '_hiddenLabel -> Messages("field.password"), 'placeholder -> Messages("field.password") )
		  @b3.submit('class -> "btn btn-primary btn-block"){ @Messages("signin.btn.submit") }
		  <div class="post-form-opts">
		    <p>@Messages("signin.forgot.question") <a href="#">@Messages("signin.forgot")</a></p>
		  </div>
		</fieldset>
	  </div>
    </div>
	}
}(messages, false, 100)