@* source Template File *@
@(piece: models.Piece, author: String)

@import views.utils


@sanitizeSource(payload: String) = @{
	"\n" + payload
}

<script src="@routes.Assets.at("js/epiceditor.js")" type="text/javascript" charset="utf8"></script>
<script>
	$(document).ready(function() {
		marked.defaults = {
			gfm : true,
			tables : true,
			breaks : true,
			pedantic : true,
			sanitize : true,
			silent : false,
			highlight : null
		};
		$("#piece-@piece.id.get").html(marked($("#piece-source-@piece.id.get").text()));
	});
</script>
<div id="piece-source-@piece.id.get" class="hidden">
	@sanitizeSource(piece.header.source)
</div>

<div id="piece-@piece.id.get" class="well piece-render"></div>
