@* title Template File *@
@(piece: models.Piece, author: String)

@import views.utils

<h2>@piece.header.title</h2>
<div class="subheader">
	<small>
    		by: <span><strong>"@author"</strong><span>,
			@if(piece.header.tags.size > 0){
				categories:	@for(t <- piece.header.tags){
					@if(t.size > 0){
						<span class="hashtag">@t</span>
					}
				}
			}	           		
  	</small>
  	<small>
  		<span class="glyphicon glyphicon-thumbs-up" style="color: #1A873A;"></span> likes: 1
  		<span class="gutter"></span>
  		<span class="glyphicon glyphicon-thumbs-down" style="color: red"></span> dislikes: 10
  	</small>
  	<br/>
  	<small>
  		@if(piece.published.isDefined){ published: @utils.long2date(piece.published.get) } 
  	</small>
  	<br/>
  	
 </div>
