@(result: Boolean, maybeFailure: Option[String])(implicit messages: Messages, request: RequestHeader)

@import controllers.routes

@title = { <h4>@Messages("register.after.title")</h4>  } 

@main(Some(title), nav = Messages("navbar.top.after.register"), user = None) {
  <div class="row">
    <div class="col-xs-8 col-md-4">
      <div class="well">
   		@if(result){
   			Please confirm your account by acting on email we have sent to you.
   		
   		} else {
   		    @maybeFailure.fold("Something went wrong, please try again.")(present => "Registration failed: " + Messages(present))
   		}
      </div>
    </div>
  </div>    
}(messages, false, 100)
