@(title: Option[Html], nav: String = "", username: String)(content: Html)(implicit footer: Boolean = true, width: Int = 60)

@import tags.menu
 
<!DOCTYPE html>
<html>
    <head>
        <title>Bilby: @title</title>
         
         <!--  
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootstrap.css")">
         -->
         
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootswatch.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/main.css")"> 
        <script src="@routes.Assets.at("js/jquery-1.10.2.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/html5shiv.js")" type="text/javascript"></script>
        <!--   
        	<script src="@routes.Assets.at("js/less-1.7.5.min.js")"" type="text/javascript"></script>
        -->
    </head>
    <body>
    	
    	<!-- Menu -->
		@menu(title, username, nav)
		
        <div class="@("container container-" + width)">

			<div class="content">
				
				<div class="page-header @("none".when(title == None))"">
					<h1>@title</h1>
				</div>
				 
				<div class="row">
					<div class="col-lg-12">
						<div class="well">
							@content
						</div>
					</div>
				</div>
				
			</div>
			
			
			<footer class="@("none".when(!footer))">
				<p>
				The Artistic License 2.0,
				Copyright (c) 2014 
				<a href="mailto:juraj.zachar@@egmail.com?Subject=Hello%20from%20Bilby.io" target="_top">
					Juraj Zachar
				</a>
				</p>
			</footer>

		</div>
        
    </body>
</html>
