@(title: Html, nav: String = "", userName: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>Pages that work (kind of under development)</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("js/jquery-1.10.2.min.js")" type="text/javascript"></script>
    </head>
    <body>
        <div class="topbar">
            <div class="fill">
                <div class="container">
                    <a class="brand" href="@routes.Application.index()">Bilby</a>
                    <ul class="nav">
                        <!--  
                        <li class="@("active".when(nav == "signup"))">
                            <a href="@routes.SignUp.form">Sign up</a>
                        </li>
                        -->
                        <li class="@("active".when(nav == "login"))">
                            <a href="@routes.Application.login">Enter your burrow...</a>
                        </li>
                    </ul>
                    <span class="@("none".when(userName == ""))">
            	 	<li>
                		<a href="@routes.Application.logout()">Logout</a>
                	</li>
                	<li>
                		 @userName
                	</li>
                	</span>
            		</div>
                </div>
            </div>
        </div>

        <div class="container">

            <div class="content">
                
                <div class="page-header">
                    <h1>@title</h1>
                </div>

                <div class="row">
                    <div class="span14">
                        @content
                    </div>
                </div>
                
            </div>

            <footer>
                <p>
                The Artistic License 2.0,
           		Copyright (c) 2014 Doppelsoldner
                    <a href="http://www.bilby.io">www.bilby.io</a>
                </p>
            </footer>

        </div>
        
    </body>
</html>
