@(title: Option[Html], nav: String = "Not Found", username: Option[String] = None)(content: Html)(implicit footer: Boolean = true, width: Int = 60)

@import tags.navbar
 
<!DOCTYPE html>
<html>
	<head>
	    <title>Bilby: @nav</title>
	    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootswatch-journal.css")">
	    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootstrap-tagsinput.css")">
	    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bilby.css")">
	    <script src="@routes.Assets.at("js/jquery-1.10.2.min.js")" type="text/javascript"></script>
	    <script src="@routes.Assets.at("js/bootstrap.min.js")" type="text/javascript"></script>
	    <script src="@routes.Assets.at("js/bootstrap-tagsinput.min.js")" type="text/javascript"></script>
	    <script src="@routes.Assets.at("js/html5shiv.js")" type="text/javascript"></script>
	    <script src="@routes.Assets.at("js/masonry.pkgd.min.js")"" type="text/javascript"></script>
	    <script src="@routes.Assets.at("js/waitforimages.min.js")"" type="text/javascript"></script>
	    <script src="@routes.Assets.at("js/bilby.js")"" type="text/javascript"></script>
	    <!-- import the generated javascript routes -->
    	<script type="text/javascript" src="@routes.JsRoutes.all"></script>
	</head>

<!-- Wrap all page content here -->
<div id="wrap">    
	<script>
		$(document).ready(function() {
			$(window).on('resize', remarginPageHeader);
		});
		remarginPageHeader();
	</script>
    <body>
    	<!-- Menu -->
		@navbar(username, nav, width)
		@if(width != 100){
        <div class="@("container container-" + width)">
		} else {
		<div class="@("container-fluid")">
		}
		
		@if(title.isDefined){
			<div class="page-header">@title</div>
		 }
		
		 <div class="content">@content</div>
		
		@if(footer){
		<footer>
			<p>
			The Artistic License 2.0,
			Copyright (c) 2014 
			<a href="mailto:juraj.zachar@@egmail.com?Subject=Hello%20from%20Bilby.io" target="_top">
			Blue Skiron</a>
			</p>
		</footer>
		}
		</div>
    </body>
   </div> 
</html>
