@* notfound Template File *@
@(param: Any)
@import helper._
@import b3.inline.fieldConstructor
<!DOCTYPE html>
<html>
	<head>
	    <title>Bilby: 404</title>
	     
	    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootswatch-journal.css")">
	    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootstrap-tagsinput.css")">
	    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bilby.css")">
	    <script src="@routes.Assets.at("js/jquery-1.10.2.min.js")" type="text/javascript"></script>
	    <script src="@routes.Assets.at("js/bootstrap.min.js")" type="text/javascript"></script>
	    <script src="@routes.Assets.at("js/bootstrap-tagsinput.min.js")" type="text/javascript"></script>
	    <script src="@routes.Assets.at("js/html5shiv.js")" type="text/javascript"></script>
	    <script src="@routes.Assets.at("js/less-1.7.5.min.js")"" type="text/javascript"></script>
	    <script src="@routes.Assets.at("js/bilby.js")"" type="text/javascript"></script>
	</head>
	
	<!-- Wrap all page content here -->
	<div id="wrap">    
    <body>
    	<div class="container-60">
	    	<div class="@("container-fluid")">
	    		<h2>404: @param</h2>
	    		<div class="content bilby-frame bilby-bg"></div>
				The depths of the burrows were searched but nothing was found.
				<form class="navbar-form navbar-center" role="search">
				        <div class="form-group">
				          <input type="text" class="form-control" placeholder="Search">
				        </div>
				        @b3.submit(
						       	'class -> "btn btn-xs btn-default", 
						       	'name -> "action", 
						       	'value ->"search"){ <span class="glyphicon glyphicon-search"></span> Submit } 
						 <a class="btn btn-xs btn-info form-group" href="@routes.Application.index">Go to homepage</a>      	
				</form>
				<footer>
				
					<p>
					The Artistic License 2.0,
					Copyright (c) 2014 
					<a href="mailto:juraj.zachar@@egmail.com?Subject=Hello%20from%20Bilby.io" target="_top">
					Blue Skiron</a>
					</p>
				</footer>
				</div>	
			</div>
    </body>
   </div> 
</html>